@charset "UTF-8";

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before,
[class*=_icon-] :after {
  display: inline-block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-inst:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e902";
}

._icon-tel:before {
  content: "\e903";
}

@font-face {
  Font-Family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  Font-Family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  Font-Family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

input::-moz-placeholder {
  color: rgb(111, 111, 111);
  font-size: 0.875rem;
  line-height: 120%;
  color: rgb(111, 111, 111);
  opacity: 0.5;
}

input::-webkit-input-placeholder {
  color: rgb(111, 111, 111);
  font-size: 0.875rem;
  line-height: 120%;
  color: rgb(111, 111, 111);
  opacity: 0.5;
}

input:-ms-input-placeholder {
  color: rgb(111, 111, 111);
  font-size: 0.875rem;
  line-height: 120%;
  color: rgb(111, 111, 111);
  opacity: 0.5;
}

input::-ms-input-placeholder {
  color: rgb(111, 111, 111);
  font-size: 0.875rem;
  line-height: 120%;
  color: rgb(111, 111, 111);
  opacity: 0.5;
}

input::placeholder {
  color: rgb(111, 111, 111);
  font-size: 0.875rem;
  line-height: 120%;
  color: rgb(111, 111, 111);
  opacity: 0.5;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.625rem;
          flex: 0 0 1.625rem;
  height: 1.375rem;
  position: relative;
  z-index: 11;
}

.menu__burger::before,
.menu__burger-line,
.menu__burger::after {
  content: "";
  width: 100%;
  height: 13.6363636364%;
  background: rgb(19, 19, 19);
  position: absolute;
}

.menu__burger::before {
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__burger._active::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__burger._active::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
      -ms-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__burger::after {
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__burger-line {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__burger._active .menu__burger-line {
  opacity: 0;
  visibility: hidden;
}

.btn {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: rgb(19, 19, 19);
  padding: 0.3125rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 26.25rem;
}

.btn span {
  padding-left: 1.1em;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 120%;
}

.desc {
  font-size: 14px;
  line-height: 120%;
  color: rgb(19, 19, 19);
}

.caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  text-transform: uppercase;
}

.swiper-pagination-bullet {
  position: relative;
  border-radius: 0;
  height: 25px;
  width: 0.125rem;
  padding: 0rem 0.3125rem;
  background-color: transparent;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.swiper-pagination-bullet::before {
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0.125rem;
  height: 100%;
  background-color: rgb(19, 19, 19);
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet-active::before {
  background-color: rgb(255, 64, 64);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header._scroll .header__wrap {
  background-color: rgb(19, 19, 19);
}

.header._scroll .menu__burger::before,
.header._scroll .menu__burger-line,
.header._scroll .menu__burger::after {
  content: "";
  background: rgb(111, 111, 111);
}

.header._scroll .menu__link {
  color: rgb(255, 255, 255);
}

.header__wrap {
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  width: 100%;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
}

.header__container {
  margin-top: -0.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 160px;
  height: 100px;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.menu__body {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__body._active {
  left: 0;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

.menu__body._active .menu__body-bg {
  opacity: 0.3;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.menu__body-bg {
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__body-bg.ibg {
  background-size: contain;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  color: rgb(19, 19, 19);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 14px;
  line-height: 121.4285714286%;
  text-transform: uppercase;
}

.footer {
  color: rgb(255, 255, 255);
  background-color: rgb(19, 19, 19);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__privacy {
  padding: 0.1875rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  line-height: 125%;
  text-transform: lowercase;
  text-decoration: underline;
}

.footer__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5625rem;
}

.footer__social-link {
  -webkit-perspective: 18.75rem;
          perspective: 18.75rem;
}

.footer__social-link::before {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__contacts-link {
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 0.75rem;
  line-height: 125%;
  text-transform: lowercase;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  transition: all 0.5s ease 0s;
}

.footer__contacts-link::before {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-size: 1.75rem;
}

.footer__contacts-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  width: 0;
  height: 0.0625rem;
  background-color: rgb(255, 255, 255);
}

body {
  font-family: Inter;
  font-weight: 400;
  color: rgb(19, 19, 19);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__bicycle {
  padding-top: 100px;
  background-color: rgb(255, 255, 255);
}

.bicycle__body {
  padding-top: 97px;
  min-width: 0;
}

.bicycle__content {
  padding-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-bicycle__top:not(:last-child) {
  margin-bottom: 60px;
}

.content-bicycle__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 80px;
}

.content-bicycle__desc-text:not(:last-child) {
  margin-bottom: 20px;
}

.top-content-bicycle__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 120.3125%;
}

.top-content-bicycle__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.top-content-bicycle__subtitle {
  color: rgb(111, 111, 111);
  font-size: 32px;
  line-height: 121.875%;
}

.box-bicycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

.box-bicycle__slider.swiper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0% 0;
  height: 527.05px;
}

.box-bicycle__slider.swiper:not(:last-child) {
  margin-bottom: 25px;
}

.box-bicycle__slider.swiper .swiper-pagination {
  top: 30%;
  right: 0.3125rem;
}

.box-bicycle__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-bicycle__slide-image {
  position: relative;
  width: 100%;
  padding: 0 0 83% 0;
}

.box-bicycle__slide-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.indicators {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr 0.5fr;
  grid-template-columns: 1fr 1fr 2fr 0.5fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.indicators:not(:last-child) {
  margin-bottom: 1.25rem;
}

.indicators__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8125rem;
}

.indicators__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 121.4285714286%;
  text-transform: uppercase;
}

.indicators__item-subtitle {
  font-size: 12px;
  line-height: 125%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__description {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
}

.description__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.description__image {
  position: relative;
  padding: 0 0 184.7% 0;
}

.description__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[6];
  grid-template-rows: repeat(6, auto);
  row-gap: 50px;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
            box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
  }

  50% {
    -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(111, 111, 111);
            box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(111, 111, 111);
  }

  100% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
            box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
            box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
  }

  50% {
    -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(111, 111, 111);
            box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(111, 111, 111);
  }

  100% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
            box-shadow: 0rem 0rem 0rem rgb(19, 19, 19);
  }
}

@-webkit-keyframes shadow-red {
  0% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
            box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
  }

  50% {
    -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(255, 64, 64);
            box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(255, 64, 64);
  }

  100% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
            box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
  }
}

@keyframes shadow-red {
  0% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
            box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
  }

  50% {
    -webkit-box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(255, 64, 64);
            box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(255, 64, 64);
  }

  100% {
    -webkit-box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
            box-shadow: 0rem 0rem 0rem rgb(255, 64, 64);
  }
}

.content-item__title {
  position: relative;
  background-color: transparent;
}

.content-item__title._active::before,
.content-item__title._active::after {
  background-color: rgb(255, 64, 64);
  -webkit-animation: shadow-red 1.3s infinite linear;
          animation: shadow-red 1.3s infinite linear;
}

.content-item__title._active::before {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.content-item__title._active::after {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.content-item__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.page__characteristics {
  padding-top: 54px;
  padding-bottom: 58px;
  background-color: rgb(255, 255, 255);
}

.characteristics__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.characteristics__content-title {
  margin-bottom: 0.625rem;
}

.characteristics__image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characteristics__image {
  position: relative;
  padding: 0 0 70.5% 0;
  width: 100%;
}

.characteristics__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-characteristics-item__title {
  margin-top: 1.875rem;
  padding: 0.1875rem 0;
  background-color: rgb(19, 19, 19);
  font-weight: 700;
  font-size: 14px;
  line-height: 121.4285714286%;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.content-characteristics-item__row {
  padding: 0.375rem 0;
}

.row-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  font-size: 14px;
  line-height: 120%;
}

.row-item-content__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.row-item-content__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.page__slide-show {
  padding-top: 55px;
  padding-bottom: 34px;
  background-color: rgb(255, 255, 255);
}

.slide-show__slider {
  padding: 0 0 0% 0;
  height: 632px;
}

.slide-show__slider .swiper-pagination {
  right: 97%;
  top: 50%;
}

.slide-show__slide-image {
  position: relative;
  width: 100%;
  padding: 0 0 52.5% 0;
}

.slide-show__slide-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__price {
  padding-top: 16px;
  padding-bottom: 100px;
  background-color: rgb(255, 255, 255);
}

.price__body {
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.body-price__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.body-price__content-title:not(:last-child) {
  margin-bottom: 41px;
}

.body-price__content-text:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.body-price__form-item:not(:last-child) {
  border-bottom: 0.0625rem solid rgb(19, 19, 19);
  margin-bottom: 1.25rem;
}

.body-price__form-input {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 0.625rem 0.3125rem;
  width: 100%;
}

.body-price__form-input:focus {
  -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(111, 111, 111);
          box-shadow: inset 0rem 0rem 0.875rem rgb(111, 111, 111);
  border-radius: 2%;
}

.body-price__radio-wrap {
  position: relative;
  width: 5rem;
  height: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-price__form-inputs {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.body-price__canvas-input {
  border-radius: 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body-price__canvas-input--gray {
  background-color: rgb(111, 111, 111);
}

.body-price__canvas-input--white {
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid rgb(19, 19, 19);
}

.body-price__canvas-input--red {
  background-color: rgb(255, 64, 64);
}

.body-price__form-caption {
  font-size: 0.875rem;
  line-height: 120%;
  color: rgb(111, 111, 111);
  opacity: 0.5;
}

.body-price__form-caption:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.body-price__form-radio {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-price__block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-price__block-cost {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: -25%;
  color: rgb(19, 19, 19);
  font-size: 32px;
  line-height: 121.875%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 50%;
  border: 0.0625rem solid rgb(255, 64, 64);
  -webkit-animation-name: cost;
          animation-name: cost;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.body-price__block-content {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: none;
  position: relative;
  width: 100%;
  min-height: 7.25rem;
}

.body-price__block-content.body-price__block-content_active {
  display: block;
}

.body-price__block-content-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media screen and (min-width: 29.99875rem) {
  .menu__burger {
    display: none;
  }

  .btn {
    min-height: 5rem;
  }

  .header__menu {
    margin-right: 73px;
  }

  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__body-bg {
    display: none;
  }

  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 3.125rem;
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media screen and (min-width: 34.99875rem) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__contacts-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 47.99875rem) {
  .header {
    min-height: 6.25rem;
  }

  .menu__link {
    padding-top: 41.6px;
    padding-bottom: 41.6px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .content-bicycle__button {
    max-width: 26.25rem;
  }

  .indicators {
    max-width: 31.25rem;
  }

  .price__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .body-price__content-text {
    max-width: 18.75rem;
  }

  .body-price__form-wrap {
    max-width: 26.25rem;
  }

@-webkit-keyframes cost {
    0% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
              transform: scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }

    50% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
      border: 0.125rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
    }

    100% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
              transform: scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }
}

@keyframes cost {
    0% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
              transform: scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }

    50% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
      border: 0.125rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
    }

    100% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
              transform: scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }
}
}

@media screen and (min-width: 47.99875rem) and (any-hover: hover) {
  .menu__link:hover {
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
  }
}

@media screen and (min-width: 61.99875rem) {
  .bicycle__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }

  .bicycle__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
  }

  .bicycle__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 54%;
            flex: 0 1 54%;
  }

  .content-bicycle__desc {
    max-width: 26.25rem;
  }

  .top-content-bicycle__subtitle {
    max-width: 26.25rem;
  }

  .content-item {
    max-width: 31.25rem;
  }
}

@media (max-width: 1200px) {
  .btn span {
    font-size: calc(
				18px + 2 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .desc {
    font-size: calc(
				10px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .caption {
    font-size: calc(
				12px + 4 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .swiper-pagination-bullet {
    height: calc(
				15px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .header__logo {
    width: calc(
				100px + 60 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .header__logo {
    height: calc(
				63px + 37 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .menu__link {
    font-size: calc(
				13px + 1 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .footer__container {
    padding-top: calc(
				25px + 20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .footer__container {
    padding-bottom: calc(
				25px + 20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__bicycle {
    padding-top: calc(
				63px + 37 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .bicycle__body {
    padding-top: calc(
				20px + 77 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .bicycle__content {
    padding-top: calc(
				20px + 52 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bicycle__top:not(:last-child) {
    margin-bottom: calc(
				25px + 35 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bicycle__desc {
    margin-bottom: calc(
				20px + 60 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .content-bicycle__desc-text:not(:last-child) {
    margin-bottom: calc(
				10px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .top-content-bicycle__title {
    font-size: calc(
				24px + 40 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .top-content-bicycle__subtitle {
    font-size: calc(
				18px + 14 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .box-bicycle__slider.swiper {
    height: calc(
				174px + 353.05 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .box-bicycle__slider.swiper:not(:last-child) {
    margin-bottom: calc(
				15px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .indicators {
    -webkit-column-gap: calc(
				6px + 14 * ((100vw - 320px) / (1200 - 320))
			);
       -moz-column-gap: calc(
				6px + 14 * ((100vw - 320px) / (1200 - 320))
			);
            column-gap: calc(
				6px + 14 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .indicators__item-title {
    font-size: calc(
				11px + 3 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .indicators__item-subtitle {
    font-size: calc(
				11px + 1 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__description {
    padding-top: calc(
				40px + 60 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__description {
    padding-bottom: calc(
				0px + 50 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .description__body {
    -webkit-column-gap: calc(
				5px + 55 * ((100vw - 991.98px) / (1200 - 991.98))
			);
       -moz-column-gap: calc(
				5px + 55 * ((100vw - 991.98px) / (1200 - 991.98))
			);
            column-gap: calc(
				5px + 55 * ((100vw - 991.98px) / (1200 - 991.98))
			);
  }

  .description__content {
    row-gap: calc(
				60px + -10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__characteristics {
    padding-top: calc(
				0px + 54 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__characteristics {
    padding-bottom: calc(
				20px + 38 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .characteristics__body {
    -webkit-column-gap: calc(
				5px + 55 * ((100vw - 991.98px) / (1200 - 991.98))
			);
       -moz-column-gap: calc(
				5px + 55 * ((100vw - 991.98px) / (1200 - 991.98))
			);
            column-gap: calc(
				5px + 55 * ((100vw - 991.98px) / (1200 - 991.98))
			);
  }

  .content-characteristics-item__title {
    font-size: calc(
				12px + 2 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .row-item-content {
    font-size: calc(
				12px + 2 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__slide-show {
    padding-top: calc(
				20px + 35 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__slide-show {
    padding-bottom: calc(
				20px + 14 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .slide-show__slider {
    height: calc(
				174px + 458 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__price {
    padding-top: calc(
				0px + 16 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .page__price {
    padding-bottom: calc(
				20px + 80 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .price__body {
    -webkit-column-gap: calc(
				15px + 45 * ((100vw - 320px) / (1200 - 320))
			);
       -moz-column-gap: calc(
				15px + 45 * ((100vw - 320px) / (1200 - 320))
			);
            column-gap: calc(
				15px + 45 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__content-title:not(:last-child) {
    margin-bottom: calc(
				20px + 21 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__form-radio {
    margin-bottom: calc(
				30px + 20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__block-cost {
    font-size: calc(
				12px + 20 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__block-cost {
    padding-top: calc(
				10px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__block-cost {
    padding-bottom: calc(
				10px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__block-cost {
    padding-right: calc(
				30px + 0 * ((100vw - 320px) / (1200 - 320))
			);
  }

  .body-price__block-cost {
    padding-left: calc(
				30px + 0 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 61.99875rem) {
  .content-bicycle__desc-text {
    text-align: center;
  }

  .content-bicycle__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .top-content-bicycle {
    text-align: center;
  }

  .box-bicycle__slider.swiper .swiper-pagination {
    right: 0.9375rem;
  }

  .box-bicycle__slide-image {
    padding: 0 0 49% 0;
  }

  .description__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .description__image {
    padding: 0 0 54% 0;
  }

  .description__img {
    opacity: 0.3;
  }

  .description__content {
    position: relative;
    z-index: 2;
    padding-top: 30%;
  }

  .page__characteristics {
    margin-top: -100px;
  }

  .characteristics__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .characteristics__content {
    z-index: 2;
    position: relative;
  }

  .characteristics__image {
    padding: 0 0 0% 0;
  }

  .characteristics__img {
    opacity: 0.3;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (max-width: 61.99875rem) and (max-width: 1200px) {
  .page__characteristics {
    margin-top: calc(
				-150px + 50 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 47.99875rem) {
  .header {
    min-height: 3.9375rem;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.625rem;
            flex: 0 0 1.625rem;
  }

  .body-price__content {
    width: 100%;
    text-align: center;
  }

  .body-price__content-text:not(:last-child):not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .body-price__form-wrap {
    width: 100%;
  }

  .body-price__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-price__block:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .body-price__block-cost {
    top: -80px;
    left: 50%;
  }

@-webkit-keyframes cost {
    0% {
      -webkit-transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
              transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }

    50% {
      -webkit-transform: translate(-50%, 0) scale3d(1.1, 1.1, 1.1);
              transform: translate(-50%, 0) scale3d(1.1, 1.1, 1.1);
      border: 0.125rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
    }

    100% {
      -webkit-transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
              transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }
}

@keyframes cost {
    0% {
      -webkit-transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
              transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }

    50% {
      -webkit-transform: translate(-50%, 0) scale3d(1.1, 1.1, 1.1);
              transform: translate(-50%, 0) scale3d(1.1, 1.1, 1.1);
      border: 0.125rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 1.5rem rgb(255, 64, 64);
    }

    100% {
      -webkit-transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
              transform: translate(-50%, 0) scale3d(0.9, 0.9, 0.9);
      border: 0.0625rem solid rgb(255, 64, 64);
      -webkit-box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
              box-shadow: inset 0rem 0rem 0.875rem rgb(255, 64, 64);
    }
}

  .body-price__block-content {
    padding: 0 0 40% 0;
  }
}

@media screen and (max-width: 47.99875rem) and (max-width: 1200px) {
  .body-price__block-cost {
    top: calc(
				-40px + -40 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media screen and (max-width: 34.99875rem) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__privacy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__contacts {
    gap: 0.9375rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__contacts-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 29.99875rem) {
  .btn {
    min-width: 18.125rem;
    min-height: 3.75rem;
  }

  .header._scroll .menu__link {
    color: rgb(19, 19, 19);
  }

  .menu__body {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list {
    row-gap: 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    margin-top: 6.25rem;
  }

  .menu__link {
    font-size: 1.5625rem;
    letter-spacing: 0.08em;
    font-weight: 700;
    color: rgb(19, 19, 19);
    opacity: 0.8;
    text-shadow: 0.0625rem 0.125rem 0rem rgba(255, 255, 255, 0.837);
  }

  .content-bicycle__button {
    width: 100%;
  }

  .box-bicycle__slider.swiper .swiper-pagination {
    top: 50%;
  }

  .box-bicycle__slide-image {
    padding: 0 0 60% 0;
  }

  .description__body {
    margin: 0 -0.9375rem;
  }

  .description__image {
    padding: 0 0 80% 0;
  }

  .content-item {
    text-align: center;
  }

  .content-item__title::before,
  .content-item__title::after {
    content: "";
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 0.1875rem;
    width: 1.25rem;
    position: absolute;
    background-color: rgb(19, 19, 19);
    top: -0.9375rem;
    -webkit-animation: shadow 1s infinite linear;
            animation: shadow 1s infinite linear;
  }

  .content-item__title::before {
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    left: 50%;
    -webkit-transform: rotateY(-45deg) translate(-25%, 0);
            transform: rotateY(-45deg) translate(-25%, 0);
  }

  .content-item__title::after {
    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    right: 50%;
    -webkit-transform: rotateY(45deg) translate(25%, 0);
            transform: rotateY(45deg) translate(25%, 0);
  }

  .content-item__title {
    font-size: 1.125rem;
  }

  .content-item__text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 29.99875rem) and (max-width: 1200px) {
  .header__menu {
    margin-right: calc(
				0px + 73 * ((100vw - 479.98px) / (1200 - 479.98))
			);
  }
}

@media screen and (min-width: 47.99875rem) and (max-width: 1200px) {
  .menu__link {
    padding-top: calc(
				32.4px + 9.2 * ((100vw - 767.98px) / (1200 - 767.98))
			);
  }

  .menu__link {
    padding-bottom: calc(
				32.4px + 9.2 * ((100vw - 767.98px) / (1200 - 767.98))
			);
  }

  .menu__link {
    padding-right: calc(
				15px + 5 * ((100vw - 767.98px) / (1200 - 767.98))
			);
  }

  .menu__link {
    padding-left: calc(
				15px + 5 * ((100vw - 767.98px) / (1200 - 767.98))
			);
  }
}

@media screen and (min-width: 61.99875rem) and (max-width: 1200px) {
  .bicycle__body {
    -webkit-column-gap: calc(
				15px + 10 * ((100vw - 320px) / (1200 - 320))
			);
       -moz-column-gap: calc(
				15px + 10 * ((100vw - 320px) / (1200 - 320))
			);
            column-gap: calc(
				15px + 10 * ((100vw - 320px) / (1200 - 320))
			);
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: rgb(255, 64, 64);
  }

  .swiper-pagination-bullet:hover {
    -webkit-box-shadow: inset 0rem 0rem 0.625rem rgba(19, 19, 19, 0.5);
            box-shadow: inset 0rem 0rem 0.625rem rgba(19, 19, 19, 0.5);
    border-radius: 15%;
  }

  .swiper-pagination-bullet-active:hover {
    -webkit-box-shadow: inset 0rem 0rem 0.625rem rgba(255, 64, 64, 0.5);
            box-shadow: inset 0rem 0rem 0.625rem rgba(255, 64, 64, 0.5);
    border-radius: 25%;
  }

  .footer__privacy:hover {
    -webkit-box-shadow: inset 0rem 0rem 0.875rem rgba(255, 255, 255, 0.5);
            box-shadow: inset 0rem 0rem 0.875rem rgba(255, 255, 255, 0.5);
    border-radius: 1.25rem;
  }

  .footer__social-link:hover:before {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  .footer__contacts-link:hover::after {
    opacity: 1;
    width: 81%;
  }

  .footer__contacts-link:hover:before {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}